    .intro {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3.75rem;

        @include breakpoint-up(large){
            width: 60%;
            text-align: left;
            margin: 0;
            
        }
    }
    .feature {
        
        
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            padding: 0.9375rem;

            @include breakpoint-up(medium){
                flex: 0 0 50%;
            }

            @include breakpoint-up(large){
                flex: 1;
            }
        }

        &-icon{
            
        }
        &-title{

        }
        &-description{
            
        }
    }
