html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-md;
    color: $grayishBlue;

    &.no-scroll{
        overflow: hidden;
    }
}

h1,h2,h3,h4 {
    margin-top: 0px;
    font-weight: 300;
    color: $darkBlue;
    font-size: 2.5rem;
    line-height: 1.2;
}

h1,h2{
    margin-bottom: 2.1875rem;
}

p {
    margin: 0px;
}

.container {
    max-width: 69.5625rem;
    margin: 0 auto;

    // Help Classes for container Padding
    &-pt {
        padding-top: 2.656rem;
    }
    &-pb {
        padding-bottom: 2.656rem;
    }
    &-pl {
        padding-left: 1.5rem;
    }
    &-pr {
        padding-right: 1.5rem;
    }
    &-px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &-py {
        padding-top: 2.656rem;
        padding-bottom: 2.656rem;
    }
    &-pall {
        padding-top: 2.656rem;
        padding-left: 1.5rem;
        padding-bottom: 2.656rem;
        padding-right: 1.5rem;
    }
    

}

a, a:visited, a:hover {
    text-decoration: none;
    color: $grayishBlue;
}

.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button , .button {
    padding: 0.875rem 2.125rem;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    cursor: pointer;
    font-weight: 700;
    font-size: $font-sm;
    color: white;
    transition: 0.15s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
    
}

.hide-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}

