html {
    font-size: 100%;
    box-sizing: border-box;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-md;
    color: $grayishBlue;
    overflow-x: hidden ;

    &.no-scroll{
        overflow: hidden;
    }
}

h1,h2,h3,h4,h5 {
    margin-top: 0px;
    font-weight: 300;
    color: $darkBlue;
    // font-size: 2.5rem;
    line-height: 1.2;
}

h1{
    margin-bottom: 2.1875rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4375;
    @include breakpoint-up(large){
        font-size: 2.15rem;
        margin-bottom: 2.1875rem;
    }
}

p {
    margin: 0px;
    line-height: 1.5;
    font-size: 0.9375rem;
    margin-bottom: 2.1875rem;

    @include breakpoint-up(large){
        font-size: 1.075rem;
    }
}

.container {
    max-width: 69.5625rem;
    margin: 0 auto;

    // Help Classes for container Padding
    &-pt {
        padding-top: 4.375rem;
        
        @include breakpoint-up(large){
            padding-top: 6.25rem;
        }
    }
    &-pb {
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-bottom: 6.25rem;
        }
    }
    &-pl {
        padding-left: 1.5rem;
    }
    &-pr {
        padding-right: 1.5rem;
    }
    &-px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        
    }
    &-py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6.25rem;
            padding-bottom: 6.25rem;
        }
    }
    &-pall {
        padding-top: 4.375rem;
        padding-left: 1.5rem;
        padding-bottom: 4.375rem;
        padding-right: 1.5rem;

        @include breakpoint-up(large){
            padding-top: 6.25rem;
            padding-bottom: 6.25rem;
        }
    }
    

}

a, a:visited, a:hover {
    text-decoration: none;
    color: $grayishBlue;
}

.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button , .button {
    position: relative;
    padding: 0.875rem 2.125rem;
    border-radius: 3.125rem;
    border: none;
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    cursor: pointer;
    font-weight: 700;
    font-size: $font-sm;
    color: white;
    transition: 0.15s ease-in-out;

    &::before{
        content: "";
        border-radius: 3.125rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,0.25);
        opacity: 0;
        transition: opacity 0.2s ;
    }

    &:hover::before {
        opacity: 1;
    }
    
}

.hide-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}

