.header {

    nav {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: white;
    }

    &-menu-logo{
        img {
            width: 8.8125rem;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient($darkBlue, transparent);
    }

    &.open {
        .header-menu-hamburger {
            > span:first-child {
                // opacity: 0;
                left: 60px;
                transform: scale(0);
            }
            > span:nth-child(2){
                transform-origin: center;
                transform: rotate(45deg);
            }
            > span:nth-child(3){
                transform-origin: center;
                transform: rotate(-45deg)
            }
            >span:last-child {
                // opacity: 0;
                right: 60px;
                transform: scale(0);
            }
        }
    }

    &-menu-hamburger {
        // For Hamburger Menu
        > span {
            display: block;
            background: $darkBlue;
            width: 1.5em;
            height: 2px;
            transition: 0.3s;
            transition-timing-function: ease-in-out;

            &:nth-child(2){
                position: absolute; 
            }

            &:not(:last-child){
                margin-bottom: 3px;
            }
            
        }
}


    &-link-menu {

        a {
            position: relative;
            font-size: $font-sm;
            transition: 0.2s ease-in-out;
            &:not(:last-child){
                margin-right: 32px;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 3px;
                transition: 0.2s ease-in-out;
                left: 0;
                right: 0;
                bottom: -28px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
            }
            &:hover {
                color: $darkBlue;

                &::before{
                    opacity: 1;
                }
            }
        }
    }

    &-cta {
        font-size: $font-sm;
        color: white;

        transition: 0.15s ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }

    &-mobile-menu {
        position: absolute;
        background: white;
        width: calc(100% - 1.5rem);
        left: -50%;
        transform: translateX(50%);
        margin: 1.5rem;
        padding: 1.625rem;
        text-align: center;
        border-radius: 5px;
        a{
            display: block;
            color: $darkBlue;
            padding: 0.625rem;
        }
    }
}