// Primary Color (Based on style-guide.md)
$darkBlue : hsl(233, 26%, 24%);
$limeGreen : hsl(136, 65%, 51%);
$brightCyan : hsl(192, 70%, 51%);

// Neutral Color (Based on style-guide.md)
$grayishBlue : hsl(233, 8%, 62%);
$lightGrayishBlue : hsl(220, 16%, 96%);
$veryLightGray : hsl(0, 0%, 98%);

// Font Size
$font-md : 1.125rem; //18px
$font-sm : 0.875rem; //14px