.fade-element {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
}

body.no-scroll {
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin-top: 0px;
  font-weight: 300;
  color: #2d314d;
  font-size: 2.5rem;
  line-height: 1.2;
}

h1 {
  margin-bottom: 2.1875rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.4375;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.15rem;
    margin-bottom: 2.1875rem;
  }
}

p {
  margin: 0px;
  line-height: 1.5;
  font-size: 0.9375rem;
  margin-bottom: 2.1875rem;
}

@media (min-width: 64em) {
  p {
    font-size: 1.075rem;
  }
}

.container {
  max-width: 69.5625rem;
  margin: 0 auto;
}

.container-pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container-pt {
    padding-top: 6.25rem;
  }
}

.container-pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container-pb {
    padding-bottom: 6.25rem;
  }
}

.container-pl {
  padding-left: 1.5rem;
}

.container-pr {
  padding-right: 1.5rem;
}

.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container-py {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

.container-pall {
  padding-top: 4.375rem;
  padding-left: 1.5rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
}

@media (min-width: 64em) {
  .container-pall {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #9698a6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.125rem;
  border-radius: 50px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  cursor: pointer;
  font-weight: 700;
  font-size: 0.875rem;
  color: white;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.7;
}

@media (max-width: 63.9375em) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

.header nav {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: white;
  z-index: 97;
}

.header-menu-logo img {
  width: 8.8125rem;
}

.header .overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
  z-index: 95;
}

.header.open .header-menu-hamburger > span:first-child {
  left: 60px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header.open .header-menu-hamburger > span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header-menu-hamburger > span:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header-menu-hamburger > span:last-child {
  right: 60px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header-menu-hamburger > span {
  display: block;
  background: #2d314d;
  width: 1.5em;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header-menu-hamburger > span:nth-child(2) {
  position: absolute;
}

.header-menu-hamburger > span:not(:last-child) {
  margin-bottom: 3px;
}

.header-link-menu a {
  position: relative;
  font-size: 0.875rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header-link-menu a:not(:last-child) {
  margin-right: 32px;
}

.header-link-menu a::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  left: 0;
  right: 0;
  bottom: -28px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
}

.header-link-menu a:hover {
  color: #2d314d;
}

.header-link-menu a:hover::before {
  opacity: 1;
}

.header-mobile-menu {
  position: absolute;
  background: white;
  width: calc(100% - 1.5rem);
  left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin: 1.5rem;
  padding: 1.625rem;
  text-align: center;
  border-radius: 5px;
  z-index: 96;
}

.header-mobile-menu a {
  display: block;
  color: #2d314d;
  padding: 0.625rem;
}

.hero {
  width: 100%;
  text-align: center;
  background-color: #fafafa;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-image {
  position: relative;
  background-image: url(../../images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 56%;
  min-height: 17.1rem;
}

@media (min-width: 40em) {
  .hero-image {
    min-height: 28.75rem;
  }
}

@media (min-width: 64em) {
  .hero-image::before {
    width: 205%;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    background-position: center 78%;
    background-size: 112%;
    content: "";
    background-image: url(../../images/bg-intro-desktop.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center 64%;
    height: 100%;
  }
}

.hero-image::after {
  content: "";
  background-image: url(../../images/image-mockups.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 93%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 40em) {
  .hero-image::after {
    background-size: 73%;
  }
}

@media (min-width: 64em) {
  .hero-image::after {
    background-position: center 183%;
    background-size: 105%;
    width: 120%;
    height: 139%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 31%;
  }
}

@media (min-width: 64em) {
  .hero-image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 41rem;
    background-image: none;
  }
}

@media (min-width: 64em) {
  .hero-text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero-text h1 {
  font-size: 2.5rem;
}

@media (min-width: 64em) {
  .hero-text h1 {
    font-size: 3rem;
  }
}

.hero-text p {
  line-height: 1.5;
  font-size: 0.9375rem;
  margin-bottom: 2.1875rem;
}

@media (min-width: 64em) {
  .hero-text p {
    font-size: 1.075rem;
  }
}

.features {
  background-color: #f3f4f6;
}

.features .intro {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.75rem;
}

@media (min-width: 40em) {
  .features .intro {
    width: 60%;
    text-align: left;
    margin: 0;
  }
}

@media (min-width: 40em) {
  .features .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features .feature-item {
  padding: 0.9375rem;
  text-align: center;
}

@media (min-width: 40em) {
  .features .feature-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: left;
  }
}

@media (min-width: 64em) {
  .features .feature-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.features .feature-icon {
  margin-bottom: 1.6875rem;
}

@media (min-width: 64em) {
  .features .feature-icon {
    margin-bottom: 2.8125rem;
  }
}

.features .feature-title {
  font-size: 1.25rem;
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 0.9375rem;
}

@media (min-width: 64em) {
  .features .feature-title {
    font-size: 1.5625rem;
    margin-bottom: 1.375rem;
  }
}

.features .feature-description {
  font-size: 0.89375rem;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: 40em) {
  .features .feature-description {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */